<form method="POST" action="/rule/mod/:ruleID">
    <tr>
        <td>
            <%= item.name %>
        </td>
        <td>
            <div class="form-check form-switch form-control-lg">
                <input class="form-check-input" type="checkbox" <%= item.isActice ? "checked": "" %> id="<%= item.id %>">
            </div>
        </td>
        <td>
            <select name="days" id="startDay1" class="form-select">
                <%
                    const days = ["Hétfő", "Kedd", "Szerda", "Csütörtök", "Péntek", "Szombat", "Vasárnap"];
                    for(var i=0; i<7;++i){ %>
                        <option value="<%= i %>" <%= i== item.begDay ? "selected": "" %>> <%= days[i] %> </option>
                <% } %>
            </select>
            <input type="time" name="kezdo" value="<%= item.begTime %>" class="form-select"/>
        </td>
        <td>
            <select name="days" id="endDay1" class="form-select">
                <%
                for(var i=0; i<7;++i){ %>
                    <option value="<%= i %>" <%= i== item.endDay ? "selected": "" %>> <%= days[i] %> </option>
                <% } %>
            </select>
            <input type="time" name="veg"  value="<%= item.endTime %>" class="form-select"/>
        </td>
        <td>
            <input type="submit" class="btn btn-success" value="Mentés"></input>
            <a class="btn btn-danger" href="/rule/remove/<%= item.id %>">Törlés</a>
        </td>
    </tr>
</form>